            .upper{
                margin:20px ;
                padding: 20px;
                background-color: bisque;
                justify-content: space-between;


            }
            
            
            
            
            
            h1{
                display: inline;
            }
            ul{
                display: inline;
                
                
            }
            li{
                display: inline;
                margin: 1vw;
                padding: 2%;
            }
            .menu-container
            {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                /* padding: 10px;
                margin: 10px; */
            }
            .card
            {
                width: 30%;
                border-radius: 30px;
                background-color: sandybrown;
                text-align: center;
                padding: 10px;
                margin: 10px;

            }
            .card p{

            }
            .card img{
                width: 89%;
                padding: 10px;
                margin: 10px;
                height: 150px;

            }
            .card button{
                padding: 10px;
                margin: 10px;
                


            }
           